img {
  width: 25px;
}
body {
  display: grid;
  grid-template-columns: 200px 4fr;
  grid-template-rows: 1fr 4fr;
  --blue-background: rgb(6, 136, 201);
  --the-white-color: rgb(255, 255, 255);
}

li {
  list-style-type: none;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: var(--blue-background);
}

.sidebar h1 {
  display: flex;
  font-size: 1.5rem;
  color: var(--the-white-color);
}

.sidebar ul {
  padding-left: 1rem;
}

.sidebar a {
  text-decoration: none;
  color: var(--the-white-color);
}
